.demo-layout-transparent {
  /* background: url('../images/IMG_6125.jpg') center / cover; */
  /* margin-top: 100vh; */
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: Black;
}
.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
#grouppic{
  width: 100%;
}
#title {
  font-style: bold;
  text-decoration: underline;
  text-align: center
}
#github {
  text-align: center


}
ul {
  text-align: left;
  padding-left: 35%;
}
.project {
/*text-align: center;*/
display: flex;
flex-wrap: wrap;
}

.bioimgs{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid;
  border-radius: 5px;
  vertical-align: top;
  /*display: inline-block;*/
    /* To horizontally center images and caption */
  text-align: center;

}

.biotext{
display: block;
border: solid red;
border-radius: 5px;
}

.allbios{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
