#group_pic{
  width: 100%;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: Black;
}
#title {
  font-style: bold;
  text-decoration: underline;
  text-align: center
}
#github {
  text-align: center
}
.mdl-layout__header-row .mdl-navigation__link {
    color: black;
}
ul {
  text-align: left;
  padding-left: 35%;
}
.project {
/*text-align: center;*/
display: flex;
flex-wrap: wrap;
}
p{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px:
}
.bioimgs{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid;
  border-radius: 5px;
  vertical-align: top;
  /*display: inline-block;*/
    /* To horizontally center images and caption */
  text-align: center;

}

.biotext{
display: block;
}

.allbios{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
