h2{
  font-size: 20px;
  font-family: monospace;
}

mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
#grouppic{
  width:100%;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}
.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
