select{
  font-family: fantasy;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: Black;
}
#footer{
  text-align: center;
  color: #777777;
  padding: 10px 0px 10px 0px;
  background-color: #212121;
  font-size:10pt;
}
