h2{
  font-size: 20px;
  font-family: monospace;
}

mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
#Paddle{
  width:70%;
}
#logo{
  display:flex;
  align-items:center;
  justify-content: center;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}
.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
#footer{
  text-align: center;
  color: #777777;
  padding: 10px 0px 10px 0px;
  background-color: #212121;
  font-size:10pt;
}
h1{
  font-family: monospace;
}
#dropdown1{
  font-size: 1000px:
}
.btn{
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: #ffffff;
  background-color: #e63232;
}
.btn:hover,
.btn:focus {
  color: #e63232;
  border-color: currentColor;
  background-color: white;
}
