body {
  position: relative;
}
ul{
  list-style: none;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button,
.dash {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}
#logo{
  display:flex;
  align-items:center;
  justify-content: center;
}
#Paddle{
  width:70%;
}
.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
#font{
  font-family: monospace;
}
h1{
  font-family: monospace;
}
