body {
  position: relative;
}
ul{
  list-style: none;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button,
.dash {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}
#logo{
  display:flex;
  align-items:center;
  justify-content: center;
}
#Paddle{
  width:70%;
}
.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}
#footer{
  text-align: center;
  color: #777777;
  padding: 10px 0px 10px 0px;
  background-color: #212121;
  font-size:10pt;
}
