<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Create Event Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link href="../stylesheets/createevent.css" rel="stylesheet">
    <link rel = "icon" href = "../images/pingponglogo12.png" type = "image/x-icon">
  </head>
  <body>
  </head>

  <body>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
     <header class="mdl-layout__header mdl-layout__header--transparent">
       <div class="mdl-layout__header-row">
         <!-- Title -->
         <span class="mdl-layout-title">Create Event</span>
         <!-- Add spacer, to align navigation to the right -->
         <div class="mdl-layout-spacer"></div>
         <!-- Navigation -->
         <nav class="mdl-navigation">
           <a class="mdl-navigation__link dash" href="{{logout_link}}">Sign Out</a> <!--this doesn't work as intended -->
         </nav>
       </div>
     </header>
     <div class="mdl-layout__drawer">
       <span class="mdl-layout-title">Main Menu</span>
       <nav class="mdl-navigation">
         <a class="mdl-navigation__link" href="/main">Main Page</a>
         <a class="mdl-navigation__link" href="/createEvent">Create Event</a>
         <a class="mdl-navigation__link" href="/about">About Developers</a>
       </nav>
     </div>
     <main class="mdl-layout__content">
       <div id= "logo">
         <img id = "Paddle" src="../images/PAddle_Logo21.svg">
       </div>
       <center><h1>Create Event</h1>
       <form action="/createEvent" method="post">

       <label for="activities">Activity Type:</label>
       <select id="activities" name="activity">
         <option value=""></option>
         <option value="Basketball">Basketball</option>
         <option value="Volleyball">Volleyball</option>
         <option value="Ping Pong">Ping Pong</option>
         <option value="Soccer">Soccer</option>
         <option value="Ultimate Frisbee">Ultimate Frisbee</option>
         <option value="Weight Training">Weight Training</option>
         </select>
         <br>
         <br>
         <br>
       <label for="locations">Preferred Location:</label>
         <select id="locations" name="location">
           <option value=""></option>
           <option value="Recreation Center">Recreation Center</option>
           <option value="Gameroom">Gameroom</option>
           <option value="Field">Field</option>
           <option value="Grass Area">Grass Area</option>
           <option value="Weight Room">Weight Room</option>
         </select>
         <br>
         <br>
         <br>

          <div id=dropdown>
            <label id=dropdown1 for="meeting-time">Select a time and date for the activity:</label>

            <input type="datetime-local" id="meetingtime" name="meetingtime" value="" min="" max="">
            <br>
            <br>
            <input type="submit" name="submit" value="Submit">
            </center>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
