<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Join An Event!</title>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="../stylesheets/joinEvent.css" rel="stylesheet">
    <link rel = "icon" href = "../images/pingponglogo12.png" type = "image/x-icon">
  </head>
  </head>
  <body>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
     <header class="mdl-layout__header mdl-layout__header--transparent">
       <div class="mdl-layout__header-row">
         <!-- Title -->
         <span class="mdl-layout-title">Join Event</span>
         <!-- Add spacer, to align navigation to the right -->
         <div class="mdl-layout-spacer"></div>
         <!-- Navigation -->
         <nav class="mdl-navigation">
           <a class="mdl-navigation__link dash" href="{{logout_link}}">Sign Out</a> <!--this doesn't work as intended -->
         </nav>
       </div>
       </header>
     <div class="mdl-layout__drawer">
       <span class="mdl-layout-title">Main Menu</span>
       <nav class="mdl-navigation">
         <a class="mdl-navigation__link" href="/main">Main Page</a>
         <a class="mdl-navigation__link" href="/joinEvent">Join Event</a>
         <a class="mdl-navigation__link" href="/createEvent">Create Event</a>
         <a class="mdl-navigation__link" href="/about">About Developers</a>
       </nav>
     </div>
  <main class="mdl-layout__content">
    <img id = "grouppic" src="../images/PAddle_Logo21.svg">
    <h1>Join Event!</h1>
    <h2>Activity: {{event.activity}}</h2>
    <h2>Time: {{event.timeDate.strftime("%a, %b %d, @ %I:%M %p")}}</h2>
    <h3>Location: {{event.location}}</h3>
    <h4>Attendies:
      {% for attendi in event.attendies %}
        {{attendi.get().name}}
      {% endfor %}</h4>

    <form action="/main" method="post">
      <input type="hidden" name="eventkey" value={{event.key.urlsafe()}}>
      <input type="submit" name="submit" value="Submit">
    </form>
    <!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    <a href="/main"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="joinEfxn()">
      Join the event! -->

    </button>

  </main>
  </body>
</html>
