<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PAddLe</title>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="../stylesheets/main.css" rel="stylesheet">
    <link rel = "icon" href = "../images/pingponglogo12.png" type = "image/x-icon">
  </head>
  <body>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
     <header class="mdl-layout__header mdl-layout__header--transparent">
       <div class="mdl-layout__header-row">
         <!-- Title -->
         <span class="mdl-layout-title">Main Page</span>
         <!-- Add spacer, to align navigation to the right -->
         <div class="mdl-layout-spacer"></div>
         <nav class="mdl-navigation">
           <a class="mdl-navigation__link" href="{{logout_link}}">Sign Out</a> <!--this doesn't work as intended -->
         </nav>
       </div>
     </header>
     <div class="mdl-layout__drawer">
       <span class="mdl-layout-title">Main Menu</span>
       <nav class="mdl-navigation">
         <a class="mdl-navigation__link" href="/main">Main Page</a>
         <a class="mdl-navigation__link" href="/joinEvent">Join Event</a>
         <a class="mdl-navigation__link" href="/createEvent">Create Event</a>
         <a class="mdl-navigation__link" href="/about">About Developers</a>
       </nav>
     </div>
     <main class="mdl-layout__content">
       <img id = "grouppic" src="../images/PAddle_Logo21.svg">
     <div>
    <center>
      <h1>Activities:</h1>
      <ul>
        {% for event in events %}
        <!-- after question mark assigning specific id to event clicked variable -->
        <a href="/joinEvent?eventclicked={{event.id}}">
        <li>
            {{event.activity}}
          <br>
            {{event.timeDate.strftime("%a, %b %d, @ %I:%M %p")}}
          <br>
            location: {{event.location}}  by: {{event.creator}} attendies: {{event.attendies}}
          <br>
          <br>
        </li>
        </a>
        {% endfor %}
      </ul>
    <div>
</html>
