<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Paddle</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <a href="/createEvent"><button type="button" name="Create New Event">Create New Event!</button></a>
    <a href="/joinEvent"><button type="button" name="Join Event">Join Event!</button></a>
    <a href="/about"><button type="button" name="About Page">About</button></a>
    <a href="/createAccount"><button type="button" name="Create an Account">Create an account</button></a>




  </body>
</html>
